.card-table-button {
	background: transparent;
	border: none;
	color: #3182ce;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.card-table-row td {
	padding: 15px;
	border-bottom: 1px solid #ccc;
}

.card-table-row .default-label {
	font-weight: bold;
	cursor: pointer;

	color: green;
}

.deleteBtn {
	background: transparent;
	padding: 8px;

	border: 2px;
	color: red;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}
